# Database
DB_USER=sicurapp
DB_PASSWORD=CAMBIA_QUESTA_PASSWORD_SICURA
DB_NAME=sicurapp_prod

# Backend
NODE_ENV=production
PORT=3001
MEDIA_DIR=/app/media
OPENAI_API_KEY=sk-...

# Frontend build
API_URL=http://187.124.0.120:8090
